/* COLOR PALLETE
BLUE: #2d4059
RED/PINK: #ea5455
BEIGE: #decdc3
GREY/WHITE: #e5e5e5 */

canvas {
    background-color: #2d4059 !important;
    width: 1000px !important;
    height: 440px !important;
    border-bottom: 10px solid #000;
    border-left: 10px solid #000;
    border-right: 10px solid #000;
}

h1 {
    font-family: 'Revalia', cursive;
    font-size: 75px !important;
}

.topredholder {
    height: 70px;
    width: 1000px;
    background-color: #dc3545;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-top: 10px solid #000;
    border-left: 10px solid #000;
    border-right: 10px solid #000;
}

.btnholder {
    position: relative;
    top: 446px;
    display: flex;
    justify-content: center;
}

.launch {
    width: 205px !important;
    height: 65px !important;
    font-size: 2em !important;
    position: absolute;
}

.volume {
    font-size: 2em;
    color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lives {
    width: 135px !important;
    height: 100%;
    /* margin-top: 25px !important; */
    font-size: 2em !important;
    /* position: absolute !important; */
    /* margin-left: 26px; */
    pointer-events: none;
    padding-left: 1rem;
}

.highscore {
    width: 135px !important;
    height: 100%;
    /* margin-top: 25px !important; */
    font-size: 2em !important;
    /* position: absolute !important; */
    /* margin-left: 837px; */
    pointer-events: none;
    padding-right: 1rem;
}

.container {
    text-align: center;
}


.responsive-container {
    display: none;
}


@media (max-width: 1200px) {
    canvas {
        display: none;
    }

    .main-container {
        display: none;
    }

    .responsive-container {
        height: 400px;
        width: 360px !important;
        margin-top: 50px;
        border-radius: 10px;
        display: flex;
        background-color: #ea5455;
        color: #e5e5e5
    }

    .responsive-message {
        padding: 20px;
    }

    .responsive-message>p {
        text-align: justify;
    }
}