/* COLOR PALLETE
BLUE: #2d4059
RED/PINK: #ea5455
BEIGE: #decdc3
GREY/WHITE: #e5e5e5 */

canvas {
    background-color: #2d4059 !important;
    width: 1000px !important;
    height: 440px !important;
    border-bottom: 10px solid #000;
    border-left: 10px solid #000;
    border-right: 10px solid #000;
}
h1 {
    font-size: 75px !important;
}
h1, h2, h3 {
    font-family: 'Revalia', cursive;
    text-align: center;
}
h3 {
    padding: 1rem 0rem;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topredholder {
    height: 70px;
    width: 1000px;
    background-color: #dc3545;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-top: 10px solid #000;
    border-left: 10px solid #000;
    border-right: 10px solid #000;
}

.btnholder {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.launch {
    width: 205px !important;
    height: 65px !important;
    font-size: 2em !important;
}
.level {
    padding: 1rem 0rem;
}

.volume {
    font-size: 2em;
    color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume:hover {
    color: #000;
}

.lives {
    width: 135px !important;
    height: 100%;
    font-size: 2em !important;
    pointer-events: none;
    padding-left: 1rem;
}

.highscore2 {
    width: 135px !important;
    height: 100%;
    font-size: 2em !important;
    pointer-events: none;
    padding-right: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.responsive-container {
    display: none;
}

.story {
    padding: 1.5rem 0rem;
    width: 55vw;
}

@media (max-width: 1200px) {
    canvas {
        display: none;
    }
    .main-container {
        display: none;
    }
    .responsive-container {
        height: 400px;
        width: 360px !important;
        margin-top: 50px;
        border-radius: 10px;
        display: flex;
        background-color: #ea5455;
        color: #e5e5e5
    }
    .responsive-message {
        padding: 20px;
    }
    .responsive-message>p {
        text-align: justify;
    }
}